
.categories{
    width: 100%;
    height:500px;
}
.categories_container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 500px
}
.inner_categorie img{
 background-repeat: no-repeat;
 object-fit: cover;
 width: 325px;
 height: 325px;
}
.categories_epigraph{
    font-family:'HKGroteskWide-Light' ;
    font-size: 12.5px;
    color: #ffff;
  position: relative;
  cursor: pointer
}
  .categories_epigraph:after {
    
    content: '';
    position: absolute;
    width: 13%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 230, 87, 0.801);
    transform-origin: bottom right;
    transition: transform 0.45s ease-out;
  }
  
  .categories_epigraph:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  @media (max-width: 880px) {
    
    .categories_container {
    flex-direction: column;
    height: auto;

  }
    .inner_categorie img {
    width: 100%;
    height: 200px;
    gap:20px
    }
    }