
*{
    background-color: black;
}
.title{
    font-size: 1.1rem;
    height: 100px;
    letter-spacing: 8px;
    background-color: transparent;
    color: #ffffff;
    font-family: 'HKGroteskWide-Light';
    text-shadow: -1px 0 rgb(68, 47, 3), 0 1px rgb(68, 47, 3), 1px 0 rgb(68, 47, 3), 0 -1px rgb(68, 47, 3);
}


.title{
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    background-color: transparent;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}
.hero_nikeLogo{
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.banner {
    width: 100%;
    height: 500px;
    object-fit: contain;
    display:contents;
    justify-content: center;
}
.banner img{
    border: none;
    object-fit: cover;
    width: 85%;
    height: 400px;
}
.banner_text_container{
    display: flex; 
    align-items: flex-start;
    justify-content: flex-end;
    width: 90%;
    text-align: center;
    margin-top: -2rem;
    height: 20px;
    
}
.banner_text{
    display: flex;
    position: relative;
    align-items:center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: row;
    width: 30%;
    background-color: transparent;
    font-weight: 500;
    font-family:'HKGroteskWide-light' ;


}
.banner_text h2{
    letter-spacing: 3px;
    color: #fffffe;
    cursor:  pointer;
    background-color: transparent;
}
.banner_arrow{
    width: 60px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: #fffffe;
}
.banner_arrow img{
    background-color: transparent;
    cursor:  pointer;
}