a {
  text-decoration: none;
}
.navBar_main_title{
    font-family:'HKGroteskWide-Light' ;
    font-weight: 100    ;
    font-size: 12.5px;
    background-color: transparent;
    color: #ffff;
    position: relative;
    cursor: pointer
}

  .navBar_main_title:after {
    
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 230, 87, 0.801);
    transform-origin: bottom right;
    transition: transform 0.45s ease-out;
  }
  
  .navBar_main_title:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .NavBar_top_auth_container {
 
    align-items: center;
    align-content: center;
    display: flex;
}

  .authButton{
    color:#ffff;
    background-color: transparent;
    font-size: '0.85rem';
    border-radius: 25px;
    border-color: transparent;
    font-family:'HKGroteskWide-Light' ;
    font-weight: lighter    ;
    cursor: pointer;
    font-weight: 100    ;
    position: relative;

  }

 
.authButton:after {
    
    content: '';
    position: absolute;
    margin-left: 6px;
    width: 55%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 230, 87, 0.801);
    transform-origin: bottom right;
    transition: transform 0.45s ease-out;
  }
  
  .authButton:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
 
  .shopping_cart {
    width: 25px;
    height: 25px;
    color: #ffff;
    cursor: pointer;
  }
  .discounts_container{
   width: 100%;
   height: 310px; 
   display: flex;
   flex: row;
   align-items: center;
   align-content: center;
   padding: 0 1rem;
  }
  .discounts_container_img{
    width: 65%;
    height: 95%;
    border-right: #ffff solid 2px ;
  }
    .discounts_container_img img{
      width: 80%;
      height: 60%;
      object-fit: contain;
}

.menu__lineas {
  position: fixed;
  right: 10px;
  width: 30px;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: 200;
  cursor: pointer;
  }
  
  .menu__lineas__linea1,
  .menu__lineas__linea2,
  .menu__lineas__linea3 {
  width: 30px;
  height: 3px;
  background-color: lime;
  transition: transform 0.5s;
  }
  
  .menu__lineas__linea2 {
  margin: 5px 0;
  }
  
  .menu__lineas__linea1B {
  transform: rotate(45deg) translate(4px, 6px);
  }
  
  .menu__lineas__linea2B {
  opacity: 0;
  }
  
  .menu__lineas__linea3B {
  transform: rotate(-45deg) translate(6px, -7px);
  }
  
  .menu__lineas {
    position: fixed;
    right: 10px;
    width: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    z-index: 200;
    cursor: pointer;
    }
    
    .menu__lineas__linea1,
    .menu__lineas__linea2,
    .menu__lineas__linea3 {
    width: 30px;
    height: 3px;
    background-color: lime;
    transition: transform 0.5s;
    }
    
    .menu__lineas__linea2 {
    margin: 5px 0;
    }
    
    .menu__lineas__linea1B {
    transform: rotate(45deg) translate(4px, 6px);
    }
    
    .menu__lineas__linea2B {
    opacity: 0;
    }
    
    .menu__lineas__linea3B {
    transform: rotate(-45deg) translate(6px, -7px);
    }
    
    /* /MENU ITEMS/ */
    .menu__items {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: auto;
    min-height: 100vh;
    position: fixed;
    background-color: rgb(2, 39, 2);
    z-index: 99;
    }
    
    .menu__items ul {
    background-color: rgb(2, 39, 2);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 190;
    padding: 0;
    padding-bottom: 50px;
    }
    
    .menu__items ul li {
    width: 100%;
    height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-align: center;
    margin: 20px 0;
    }
    
    .menu__items ul li a {
    color: white;
    font-size: 36px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    }
    
    
    
    
  