.authContainer{
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.auth_banner{
    width: 40%;
    height: 100%;   
    object-fit: contain;
}
.auth_banner_img{
    border-radius:25px;
    margin: 10px 10px ;
    padding: 10px;
    height: 90%;
    width: 90%;
    
}
.auth_form_container{
    width: 55%;
    height: 100%;


}
.auth_form{
    display: flex;
    height: 100%;
    max-height: 80rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: white;
    align-content: center;
}
.auth_form h2{
    font-family: 'HKGroteskWide-Medium';
    font-weight: lighter;
    letter-spacing: 4px;
    font-size: 1.9rem;
}
.auth_email_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.auth_email_input{
    width: 70%;
    margin-right: 32px;
    height: 35%;
    align-self: center;
    border-radius: 10px;
    color: #ffff;
    background-color: #0000;
    font-family: 'HKGroteskWide-Light';
    font-weight: 500;
}
.auth_email_input::placeholder{
    color: #f5f4efc7;  
}
.auth_password_input::placeholder{
    color: #f5f4efc7;  
}
.auth_password_input:focus{
border: #fffffe solid 2px;

}.auth_email_input:focus{
border: #fffffe solid 2px;
}

.auth_password_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.password_container{
    display: flex;
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.auth_password_input{
    width: 70%;
    height: 45%;
    border-radius: 10px;
    color: #ffff;
    font-family: 'HKGroteskWide-Light';
    font-weight: 500;
}
.form_button{
    color: #ffff;
    font-family: 'HKGroteskWide-Medium';
    font-weight: lighter;
    font-size: 1.15rem;
    width: 45%;
    height: 45px;
    border-radius: 20px;
    letter-spacing: 3px;
    cursor: pointer;
}
.show_password_btn{
    color: white;
    width: 30px;
    margin-left: 2px;
    height: 35%;
    justify-content: center;
    align-items: center;
    display: flex;

}
.form_button:hover{
    border: solid 0.87px #ffff;;
}
.auth_password_recovery{
    margin-top: 60px;
}
.hide_password_icon{
    height: 25px;
    width: 25px;
    cursor: pointer;
    background-color: transparent;
}
.show_password_icon{
    height: 25px;
    cursor: pointer;
    width: 25px;
    background-color: transparent; 
}

.auth_password_recovery{
    font-family:'HKGroteskWide-Light' ;
    font-weight: 100    ;
    font-size: 12.5px;
    background-color: transparent;
    color: #ffff;
  position: relative;
  cursor: pointer
}
.auth_password_recovery:after {
    
    content: '';
    position: absolute;
    width: 85%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 230, 87, 0.801);
    transform-origin: bottom right;
    transition: transform 0.45s ease-out;
  }
  
  .auth_password_recovery:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .password_register_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 140px;
    justify-content: center;
    align-items: center;
  }
.first_password_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.second_password_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.register_form_password_input{
    width: 70%;
    height: 35%;
    border-radius: 10px;
    color: #ffff;
    font-family: 'HKGroteskWide-Light';
    font-weight: 500;
}

.password_alert_message{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: .95rem;
    font-family: 'HKGroteskWide-Light';
    font-weight: 500;
    color: rgb(204, 46, 46);

}
.session_error{
    color: rgb(204, 46, 46);
    justify-content: center;
    align-items: center;
    font-weight: .95rem;
    font-family: 'HKGroteskWide-Light';
    font-weight: 500;
    margin: .9rem 0;
}
.session_success{
    color: rgb(34, 168, 22);
    justify-content: center;
    align-items: center;
    font-weight: .95rem;
    font-family: 'HKGroteskWide-Light';
    font-weight: 500;
    margin: 1rem 0;
}

/* .auth_email_label{
    width: 75%;
}
.auth_password_label{
    width: 75%;
} */
